
body {
  margin: 0;
}

#header {
  height: 40px;
  margin-top: 7px;
  font-size: 10px;
  overflow: auto;
}

a {text-decoration: none; }
a:hover {text-decoration: underline;}


#header nav {
  position: relative;
  float: right;
}


#header .menubox .item {
  display: inline;
  margin-left: 10px;
}

#header .dots {
  vertical-align: bottom;
}

#header .gmail {

}

#header .image {

}

#header .apps {

}


#header .login {
  margin-right: 14px;
  width: 80px;
  height: 25px;
  background-color: #1A73E8;
  padding: 5px 18px;
  border: none;
  border-radius: 3px;
  font-size: 11px;
  color:white;
}

#contents {
  margin-top:100px;
  height: 150px;
  display: block;
}

#contents .logo {
  max-height: 100%;
  max-width: 100%;
  width: 220px;
  display: block;
  margin: 0px auto;
  margin-bottom: 15px;
  position: relative;
}

#contents .search {
  display: block;
  position: relative;
  width: 400px;
  align-content: center;
  margin: 0px auto;
  border-radius: 20px;
  border: 1px solid #DFE1E5;
  width: 450px;
  height: 35px;
}

#contents .search .icon{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  }
#contents .search .glass {
  width: 20px;
  height: 20px;
  left:10px;
}
#contents .search .keyboard {
  width: 20px;
  height: 20px;
  right:40px;
}
#contents .search .mic {
  width: 20px;
  height: 20px;
  right:10px;
}
#contents .search input {
  position:absolute;
  left:30px;
  right:60px;
  width: calc(100% - 90px);
  height: 100%;
  border: none;
  background-color:transparent;
}

#contents input:focus {outline:none;}

#contents img .logo {
  height: 92px;
}


#contents.lower{
  position: relative;
  display: block;
  margin: 0px auto;
}

#contents .lower .box {
  margin: 0px auto;
  text-align: center;
}

#contents .lower .box button{
  position: relative;
  width: auto;
  display:inline-block;
  background-color: #F8F9FA;
  height: 30px;
  margin-top: 15px;
  border: 0px;
  border-radius: 4px;
  font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 2px 10px;
}

footer {
  position: fixed;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #F2F2F2;
}

footer .country{
  padding-left: 32px;
  font-size: 12px;
}

footer .footer {
  display: flex;
  border-top: solid 1px lightgray;
  font-size: 12px;
  width: 100%;
  justify-content: space-between;
}

.footer .footer-left ul{
  list-style: none;
  display: flex;
}

.footer .footer-left ul li{
  padding-right: 15px;
}


.footer .footer-right ul{
  list-style: none;
  display: flex;
  margin-right: 10px;
}

.footer .footer-right ul li{
  padding-right: 15px;
}

h2 {
  text-align: center;
  font-size: 2px;
  margin-top: 15px;
}

#contents .more {
  color: blue;
}
